Repository brainless/PubDataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test, typescript-check, eslint, frontend-build-check, govulncheck, npm-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        args: [-w, -s]
        files: \.go$
        pass_filenames: true
        
      - id: go-vet
        name: Go Vet
        entry: bash
        language: system
        args:
          - -c
          - 'cd backend && go vet ./...'
        files: \.go$
        pass_filenames: false
        
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash
        language: system
        args:
          - -c
          - 'cd backend && go mod tidy'
        files: ^backend/(go\.(mod|sum)|.*\.go)$
        pass_filenames: false
        
      - id: go-test
        name: Go Tests
        entry: bash
        language: system
        args:
          - -c
          - 'cd backend && go test -race ./...'
        files: \.go$
        pass_filenames: false

  # TypeScript/JavaScript formatting and linting
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash
        language: system
        args:
          - -c
          - 'cd frontend && npx tsc --noEmit'
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        
      - id: eslint
        name: ESLint
        entry: bash
        language: system
        args:
          - -c
          - 'cd frontend && npm run lint'
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      - id: frontend-build-check
        name: Frontend Build Check
        entry: bash
        language: system
        args:
          - -c
          - 'cd frontend && npm run build'
        files: ^frontend/
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: govulncheck
        name: Go Vulnerability Check
        entry: bash
        language: system
        args:
          - -c
          - 'cd backend && govulncheck ./... || echo "⚠️  Vulnerabilities found - check govulncheck output"'
        files: ^backend/(go\.(mod|sum)|.*\.go)$
        pass_filenames: false
        
      - id: npm-audit
        name: NPM Security Audit
        entry: bash
        language: system
        args:
          - -c
          - 'cd frontend && npm audit --audit-level=moderate || echo "⚠️  NPM vulnerabilities found - run npm audit fix"'
        files: ^frontend/(package(-lock)?\.json|.*\.(ts|tsx|js|jsx))$
        pass_filenames: false

  # Conventional commits
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

docs: integrate local validation measures into development workflow
  CLAUDE.md
Due: none

feat: implement comprehensive cross-platform installer generation
  .github/workflows/release.yml
  .goreleaser.yaml
  Dockerfile.release
  backend/cmd/server/main.go
  backend/frontend/dist/assets/index-D8b4DHJx.css
  backend/frontend/dist/assets/index-NDvJW_RZ.js
  backend/frontend/dist/index.html
  backend/frontend/dist/vite.svg
  backend/go.mod
  backend/go.sum
Due: go-fmt, go-vet, go-mod-tidy, go-test, govulncheck

fix: prevent command execution in PR description validation
  .github/workflows/pr-check.yml
Due: none

feat: Initialize new frontend with React, React Router, and Tailwind CSS
  frontend/CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/services/api.ts
  frontend/src/types/api.ts
  frontend/tailwind.config.js
Due: typescript-check, eslint, frontend-build-check, npm-audit

feat: implement complete application layout with navigation
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/LeftNavigation.tsx
  frontend/src/components/layout/TopNavigation.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/pages/DataSources.tsx
  frontend/src/pages/Downloads.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Settings.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: typescript-check, eslint, frontend-build-check, npm-audit

docs: add comprehensive frontend CLAUDE.md documentation
  frontend/CLAUDE.md
Due: frontend-build-check

feat: implement settings page infrastructure with nested routing
  frontend/src/App.tsx
  frontend/src/components/settings/SettingsBreadcrumb.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/Settings/DataStorage.tsx
  frontend/src/pages/Settings/General.tsx
  frontend/src/pages/Settings/SettingsLayout.tsx
  frontend/src/pages/Settings/SettingsNavigation.tsx
  frontend/src/pages/Settings/index.tsx
Due: typescript-check, eslint, frontend-build-check, npm-audit

docs: improve settings description text
  frontend/src/pages/Settings/SettingsLayout.tsx
Due: typescript-check, eslint, frontend-build-check, npm-audit

docs: add settings pages documentation
  frontend/src/pages/Settings/README.md
Due: frontend-build-check

feat: implement comprehensive data storage settings UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/settings/ConfirmationDialog.tsx
  frontend/src/components/settings/PathSelector.tsx
  frontend/src/components/settings/PathValidation.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/hooks/useStorageConfig.ts
  frontend/src/pages/Settings/DataStorage.tsx
  frontend/src/services/configApi.ts
Due: typescript-check, eslint, frontend-build-check, npm-audit

feat: implement backend configuration management system
  backend/configs/default.json
  backend/internal/api/handlers/config.go
  backend/internal/config/manager.go
  backend/internal/config/persistence.go
  backend/internal/config/validation.go
  backend/internal/types/config.go
  frontend/src/types/api.ts
Due: go-fmt, go-vet, go-mod-tidy, go-test, typescript-check, eslint, frontend-build-check, govulncheck, npm-audit

fix: resolve CodeQL security vulnerabilities in path validation
  backend/internal/config/validation.go
Due: go-fmt, go-vet, go-mod-tidy, go-test, govulncheck

fix: add additional path validation to resolve remaining CodeQL security issue
  backend/internal/config/validation.go
Due: go-fmt, go-vet, go-mod-tidy, go-test, govulncheck

docs: restart project with CLI-first approach
  CLAUDE.md
  README.md
Due: none

fix: resolve CI/CD workflow errors
  .github/workflows/security.yml
  CLAUDE.md
  go.mod
  go.sum
Due: none

fix: resolve CodeQL build conflict with cmd directory
  .github/workflows/security.yml
Due: none

feat: Implement Phase 1: Core Infrastructure Development
  Claude.md
  Gemini.md
  cmd/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/test/config_test.go
  internal/datasource/datasource.go
  internal/log/log.go
Due: go-fmt, go-vet, go-test

feat: Implement DataSource interface and mock for #37
  internal/datasource/datasource.go
  internal/datasource/datasource_test.go
  internal/datasource/mock_datasource.go
Due: go-fmt, go-vet, go-test

feat: implement Hacker News data source with simplified batch download strategy
  go.mod
  go.sum
  internal/datasource/hackernews/client.go
  internal/datasource/hackernews/client_test.go
  internal/datasource/hackernews/downloader.go
  internal/datasource/hackernews/hackernews.go
  internal/datasource/hackernews/hackernews_test.go
  internal/datasource/hackernews/ratelimiter.go
  internal/datasource/hackernews/storage.go
  internal/datasource/hackernews/storage_test.go
Due: go-fmt, go-vet, go-test

fix: integrate Hacker News implementation with CLI commands
  cmd/main.go
Due: go-fmt, go-vet, go-test

fix: show current max ID and cached count in status when not downloading
  internal/datasource/hackernews/hackernews.go
Due: go-fmt, go-vet, go-test

fix: format code to pass CI formatting check
  internal/datasource/hackernews/hackernews.go
Due: go-fmt, go-vet, go-test

docs: migrate from CLI to interactive TUI approach
  Claude.md
  README.md
  README_CLI.md
Due: none

feat: implement interactive TUI migration with background job support
  cmd/main.go
  internal/tui/jobs.go
  internal/tui/shell.go
Due: go-fmt, go-vet, go-test

feat: implement enhanced interactive shell framework with advanced features
  cmd/main.go
  go.mod
  go.sum
  internal/tui/command.go
  internal/tui/enhanced_shell.go
Due: go-fmt, go-vet, go-test

feat: implement comprehensive background job management system
  internal/jobs/download_job.go
  internal/jobs/integration.go
  internal/jobs/manager.go
  internal/jobs/persistence.go
  internal/jobs/types.go
  internal/jobs/worker_pool.go
  internal/tui/shell.go
Due: go-fmt, go-vet, go-test

fix: resolve job cancellation issue and SQL query errors
  internal/jobs/manager.go
  internal/jobs/persistence.go
  internal/jobs/worker_pool.go
Due: go-fmt, go-vet, go-test

fix: preserve existing data count during hackernews download
  internal/datasource/hackernews/downloader.go
Due: go-fmt, go-vet, go-test

fix: format code to pass CI formatting check
  internal/jobs/enhanced_pool.go
  internal/jobs/health_checker.go
  internal/jobs/pool_scaler.go
  internal/jobs/resource_monitor.go
Due: go-fmt, go-vet, go-test

feat: integrate progress tracking with download command
  internal/download/manager.go
  internal/download/types.go
  internal/progress/types.go
  internal/tui/shell.go
Due: go-fmt, go-vet, go-test

fix: resolve import cycle between download and progress packages
  internal/download/manager.go
  internal/download/types.go
  internal/progress/integration.go
Due: go-fmt, go-vet, go-test

fix: resolve CI formatting issues
  internal/download/manager.go
  internal/download/types.go
  internal/progress/display.go
  internal/progress/integration.go
  internal/progress/persistence.go
  internal/progress/tracker.go
  internal/progress/types.go
  internal/tui/progress_display.go
  internal/tui/shell.go
Due: go-fmt, go-vet, go-test

fix: resolve PR description validation in GitHub workflow
  .github/workflows/pr-check.yml
Due: none

feat: implement enhanced command parser and handler system (#50)
  internal/command/handler.go
  internal/command/integration.go
  internal/command/parser.go
  internal/command/parser_test.go
  internal/tui/enhanced_shell.go
Due: go-fmt, go-vet, go-test

Add Claude Code hooks for Go format and lint checks
  internal/command/handler.go
  internal/command/integration.go
  internal/command/parser.go
  internal/command/parser_test.go
  internal/tui/enhanced_shell.go
Due: go-fmt, go-vet, go-test

Implement graceful shutdown and state persistence system
  internal/jobs/manager.go
  internal/shutdown/hooks.go
  internal/shutdown/integration.go
  internal/shutdown/manager.go
  internal/shutdown/manager_test.go
  internal/shutdown/recovery.go
  internal/shutdown/recovery_handlers.go
  internal/shutdown/state.go
  internal/shutdown/state_test.go
Due: go-fmt, go-vet, go-test
